<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-secondary">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none text-light">
    <svg class="bi me-2" width="40" height="32" aria-hidden="true">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4 fw-bold">Cocina Fácil</span>
  </a>
  <ul class="nav nav-pills text-white text-decoration-none px-2">
    <li class="nav-item "><a href="/" class="nav-link text-white">Inicio</a></li>
    <li class="nav-item "><a href="/recetas/" class="nav-link text-white">Recetas</a></li>
    <li class="nav-item "><a href="/contacto/" class="nav-link text-white">Contacto</a></li>
  </ul>
</header>