{% extends 'base.html' %}

{% block title %}Inicio - Mi App de Recetas{% endblock %}

{% block content %}

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6">
    <img src="media\imagen-hero.jpg" class="d-block mx-lg-auto img-fluid rounded" alt="Imagen de una persona cocinando" width="700" height="500" loading="lazy">
  </div>
  <div class="col-lg-6">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Bienvenido a Cocina Fácil</h1>
    <p class="lead">Explora nuestras deliciosas recetas y encuentra inspiración para tu próxima comida.</p>
  </div>
</div>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="text-center mb-4">Últimas recetas</h2>
    </div>
    <div class="col-md-8 col-lg-6">
      <ul class="list-group">
        {% for receta in ultimas_recetas %}
          <li class="list-group-item py-2 my-2">
            <h5>{{ receta.nombre }}</h5>
            <p>{{ receta.descripcion|truncatewords:20 }}</p>
            <a class="btn btn-primary" href="{% url 'detalle_receta' receta.id %}">Ver detalles</a>
          </li>
        {% empty %}
          <li class="list-group-item">No hay recetas disponibles.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
